<a href="https://colab.research.google.com/github/matheustoneti/TitanicMachineLearningCompetition/blob/main/Titanic_Machine_Learning_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

In [ ]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [ ]:
train = train.drop(['Cabin'], axis=1)

In [ ]:
train = train.drop(['Name', 'Ticket'], axis=1)
train.head(5)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [ ]:
le = preprocessing.LabelEncoder()
train['Sex'] = le.fit_transform(train['Sex'])

In [ ]:
le = preprocessing.LabelEncoder()
train['Embarked'] = le.fit_transform(train['Embarked'])

In [ ]:
train['Age'].fillna(value=29.70, inplace=True)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
y = train['Survived']
x = train.drop(['Survived'], axis=1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [ ]:
modelo = GradientBoostingClassifier()

In [ ]:
modelo = modelo.fit(x_train, y_train)

In [ ]:
accuracy = modelo.score(x_test, y_test)
print(accuracy)

0.8116591928251121

In [ ]:
test = test.drop(['Cabin'], axis=1)

In [ ]:
test = test.drop(['Name'], axis=1)

In [ ]:
test.head(5)

   PassengerId  Pclass     Sex   Age  SibSp  Parch   Ticket     Fare Embarked
0          892       3    male  34.5      0      0   330911   7.8292        Q
1          893       3  female  47.0      1      0   363272   7.0000        S
2          894       2    male  62.0      0      0   240276   9.6875        Q
3          895       3    male  27.0      0      0   315154   8.6625        S
4          896       3  female  22.0      1      1  3101298  12.2875        S

In [ ]:
test['Sex'] = le.fit_transform(test['Sex'])

In [ ]:
test['Embarked'] = le.fit_transform(test['Embarked'])

In [ ]:
test.head(5)

   PassengerId  Pclass  Sex   Age  SibSp  Parch   Ticket     Fare  Embarked
0          892       3    1  34.5      0      0   330911   7.8292         1
1          893       3    0  47.0      1      0   363272   7.0000         2
2          894       2    1  62.0      0      0   240276   9.6875         1
3          895       3    1  27.0      0      0   315154   8.6625         2
4          896       3    0  22.0      1      1  3101298  12.2875         2

In [ ]:
test['Age'].fillna(value = 30.27, inplace=True)

In [ ]:
test['Fare'].fillna(value=35.63, inplace=True)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         418 non-null    float64
 8   Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 29.5+ KB

In [ ]:
test = test.drop(['Ticket'], axis=1)

In [ ]:
p = modelo.predict (test)

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [ ]:
sub.shape

(418,)

In [ ]:
sub.to_csv("PredictModelTitanic.csv", header=True)
sub.head(5)

PassengerId
892    0
893    0
894    0
895    0
896    0
Name: Survived, dtype: int64